* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.main_box {
    background-image: url("photo.jpg");
    height: 100vh;
    background-size: cover;
}

.btn_one {
    color: white;
    font-size: 30px;
    font-weight: bolder;
    position: absolute;
    left: 16px;
    line-height : 66px;
    cursor: pointer;
    transition: 0.4s linear;
}

.btn_two i{
    color: white;
    font-size: 20px;
    line-height : 66px;
    position: absolute;
    left: 270px;
    /* opacity: 0; */
    cursor: pointer;
    transition: 0.4s linear;
}

.sidebar_menu {
    position: fixed;
    left: -400px;
    height: 100vh;
    width: 300px;
    background-color: rgba(255, 255, 255 , 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.6);
    transition: 0.32s linear;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.sidebar_menu .logo {
    width: 100%;
    height: 60px;
    position: absolute;
    line-height: 60px;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.6);
}

.sidebar_menu .logo a {
    position: absolute;
    left: 50px;
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
}

.sidebar_menu .menu {
    color: white;
    position: absolute;
    width: 100%;
    top: 80px;
}

.sidebar_menu .menu li {
    margin-top: 7px;
    padding: 14px 20px;
     /* line-height: 60px; */
}

.sidebar_menu .menu i,a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.sidebar_menu .menu i {
    padding-right: 10px;
}

.sidebar_menu .social_media {
    position: absolute;
    left: 25%;
    bottom: 20px;
}

.sidebar_menu .social_media i {
    color: white;
    opacity: 0.4;
}

#check {
    display: none;
}

.sidebar_menu .menu li:hover {
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.6) ;
}

.btn_one i:hover {
    font-size: 45px;
}

.btn_two i:hover {
    font-size: 30px;
}

.sidebar_menu .social_media i:hover {
    opacity: 1;
    transform: scale(1.2);
}

#check:checked ~ .sidebar_menu {
    left: 0;
}

 #check:checked ~ .btn_one {
    opacity: 0;
}

#check:checked ~ .sidebar_menu .menu li {
    animation: fadeIn 0.4s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.sidebar_menu .social_media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.15);
}


